@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
}
.grid-item1{grid-area: header;}
.grid-item2{grid-area: texto;}
.grid-item3{grid-area: encriptado; display: flex; align-content: center; justify-content: center;}
.grid-item4{grid-area: botones; display:flex; justify-content: center;align-items: center;}

main.container-grid{
    display:grid;
    grid-template-areas:
    'header header header header encriptado encriptado'
    'texto texto texto texto encriptado encriptado'
    'botones botones botones botones encriptado encriptado';    
    padding: 1.8rem;
}
nav > a > img{
    padding-left: 3.16rem;
}

.input1{
    display: flex;
    justify-content: center;
}
textarea{
    outline: none;
    resize: none;
    border: none;
    background-color: transparent;
}
textarea:hover{
    cursor: text;
}
::placeholder { color: #0A3871; }
section.input1 > textarea{        
    font-size: 32px;
    color: #0A3871;   
    font-family: 'Inter', sans-serif;
}

section.input2{
    background-color: white;
    height: 92vh;
    width: 400px;
    border-radius: 32px;
    -webkit-box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.1);
    -moz-box-shadow:    0px 10px 25px -5px rgba(0,0,0,0.1);
    box-shadow:         0px 10px 25px -5px rgba(0,0,0,0.1);
    display: flex;    
    justify-content: center;    
}
#input2{
    height: 100%;
}
div.parrafo{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    text-align: center;
}
.desencriptar-mostrar{
    padding: 2rem 0rem 2rem 0rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.desencriptar{
    display: none;
}
.text{
    display: flex;        
}
.text>div#imagen{
    align-self: center;
}
.desencriptar-mostrar > textarea{
    font-size: 24px;
    width: 100%;    
}
.container-buttons{
    display:grid;
    grid-template-columns: 1fr;
    gap:16px;
}
#advertencia{
    color: #495057;
}
.buttons{
    display: flex;
    gap: 16px;
}
.btn{
    width: 16rem;
    height: 3.5rem;
    font-size: 16px;
    color: #0A3871;
    border: solid 1px #0A3871;
    border-radius: 24px;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover{
    background-color: #D8DFE8;
}

.btn-Encriptar{
    color: #FFFFFF;
    background-color: #0A3871;
}
.btn-Encriptar:hover{
    background-color: #07274e;
}

@media (max-width:769px){
    main.container-grid{
        display:grid;
        grid-template-areas:
        'header header header header header '
        'texto texto texto texto texto '
        'botones botones botones botones botones '
        'encriptado encriptado encriptado encriptado encriptado';    
        
    }
    #imagen > img{
        display:none;
    }
    section.input2{
        height: auto  ;
        width: 40rem;
        margin: 0rem 0rem;
        padding: 1rem 0rem;
        width: 90%;
        display: block;
    }
    ::placeholder { color: #0A3871; }
    section.input1 > textarea{        
        padding-top: 8rem ;
        font-size: 32px;
        color: #0A3871;   
        font-family: 'Inter', sans-serif;   
        padding-left: 2.16rem;
        padding-bottom: 8rem ;
        width: 95%;        
    }    
    .input1{
        display: flex;
        justify-content: start;
        
    }
    .btn{
        width: 19rem;
        height: 4.5rem;
        margin-bottom: 4rem ;
    }
    nav > a > img{
        padding-left: 2.16rem;
        padding-top: 3.16rem;
    }
    div.parrafo{        
        text-align:center;
    }
    #input2{
        height: 100%;        
    }    
    .desencriptar-mostrar{       
        padding: 0% 2rem;
        display: flex;
        flex-direction: column;
        align-content: space-around;        
    }
    .btn-copiar{
        
        height: 10rem;
        width: 100%;
    }
}
@media(max-width:376px){
    .buttons{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;

    }
    .btn{
        margin: 1rem 0rem;
    }
    ::placeholder { color: #0A3871; }
    section.input1 > textarea{        
        padding-top: 4rem ;
        font-size: 32px;
        color: #0A3871;   
        font-family: 'Inter', sans-serif;   
        padding-left: 2.16rem;
        padding-bottom: 8rem ;
        width: 95%;        
    }    
}